In [8]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
import seaborn as sns

In [9]:
input_dir = r"/Users/juju/Library/Mobile Documents/com~apple~CloudDocs/ta_project/data"

In [10]:
df = pd.read_csv(os.path.join(input_dir,r"welfare_data.csv"))

In [11]:
# using EOY 2016 rating as quality measure

df_2017_nov = df[(df["year"]==2016)&(df["month"]==12)]
df_2017_nov["rating_2017_nov"] = df_2017_nov["Rating"]

df_year_hotel = df.groupby(["year","shareid"])["Demand"].sum().reset_index()


df_temp = df_year_hotel.merge(df_2017_nov[["shareid","rating_2017_nov"]], on="shareid", how="left")
df_temp = df_temp.dropna(subset=["rating_2017_nov"])
df_temp = df_temp[df_temp["rating_2017_nov"]!=0]
df_year = df_temp.groupby(["year"])["Demand"].sum().reset_index().rename(columns={"Demand":"demand_year_total"})
df_temp = df_temp.merge(df_year, on=["year"])
df_temp["weight_rating"] = (df_temp["Demand"]/df_temp["demand_year_total"])*df_temp["rating_2017_nov"]
df_temp.groupby("year")["weight_rating"].sum()

/Users/juju/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

year
2000    3.904790
2001    3.887529
2002    3.907773
2003    3.926919
2004    3.945489
2005    3.938771
2006    3.949645
2007    3.952103
2008    3.958146
2009    3.973948
2010    3.986768
2011    3.993606
2012    3.996321
2013    4.000194
2014    4.011810
2015    4.029761
2016    4.057095
2017    4.099325
Name: weight_rating, dtype: float64

In [13]:
df.groupby("Operation")["shareid"].nunique()

Operation
1    126
2    279
3     77
Name: shareid, dtype: int64

In [16]:
list(df.columns)

['index',
 'post_month',
 'shareid',
 'year_month',
 'Supply',
 'Demand',
 'Revenue',
 'Occ',
 'ADR',
 'RevPAR',
 'Country',
 'Market',
 'Chain',
 'Owner',
 'Mgmt',
 'ParentCompany',
 'Operation',
 'Scale',
 'Class',
 'Location',
 'OpenDate',
 'SizeCode',
 'max_str_month',
 'max_review_month',
 'min_review_month',
 'on_ta',
 'monthly_rating_mean',
 'monthly_review_count',
 'monthly_one_star_count',
 'monthly_two_star_count',
 'monthly_three_star_count',
 'monthly_four_star_count',
 'monthly_five_star_count',
 'monthly_hotel_response_count',
 'monthly_partnership_reviews_count',
 'cleanliness_count',
 'cleanliness_mean',
 'location_count',
 'location_mean',
 'sleep_quality_count',
 'sleep_quality_mean',
 'room_quality_count',
 'room_quality_mean',
 'service_count',
 'service_mean',
 'value_count',
 'value_mean',
 'renovate',
 'solo_count',
 'couple_count',
 'family_count',
 'business_count',
 'month_with_reviews',
 'num_of_reviews',
 'total_one_star',
 'total_two_star',
 'total_three_star',
 'total_four_star',
 'total_five_star',
 'accum_rating',
 'total_one_star_%',
 'total_two_star_%',
 'total_three_star_%',
 'total_four_star_%',
 'total_five_star_%',
 'is_reviewed',
 'ln_revenue',
 'ln_revpar',
 'ln_accum_rating',
 'ln_num_of_reviews',
 'ln_revenue_next_1m',
 'ln_revpar_next_1m',
 'ln_revenue_next_2m',
 'ln_revpar_next_2m',
 'ln_revenue_next_3m',
 'ln_revpar_next_3m',
 'ln_revenue_next_4m',
 'ln_revpar_next_4m',
 'ln_revenue_next_5m',
 'ln_revpar_next_5m',
 'ln_revenue_next_6m',
 'ln_revpar_next_6m',
 'ln_revenue_next_3m_avg',
 'ln_revpar_next_3m_avg',
 'ln_revenue_next_6m_avg',
 'ln_revpar_next_6m_avg',
 'year',
 'month',
 'displayed_rating',
 'round_up',
 'Class Group',
 'hotel_age',
 'alpha',
 'avg_price',
 'avg_demand',
 'price_elasticity',
 'Group Monthly Demand',
 'hotel_count_in_group_chain',
 'hotel_count_in_group_franchised',
 'hotel_count_in_group_independent',
 '1_size',
 '2_size',
 '3_size',
 '4_size',
 '5_size',
 'Group Avg Age',
 'Market Monthly Supply',
 'Market Monthly Demand',
 'hotel_count_in_market',
 'market_share',
 'group_share',
 's_0',
 'ln_group_share',
 'quality',
 'Rating',
 'ReviewCount_Reviewed',
 'Rating_ReviewCount_Reviewed',
 'market_year_month',
 'ln_ADR']

In [17]:
df.groupby("Operation")["SizeCode"].mean()

Operation
1    3.096186
2    2.290309
3    2.123340
Name: SizeCode, dtype: float64

In [32]:
df[df["shareid"]==10127842]

,index,shareid,year_month,Supply,Demand,Revenue,Occ,ADR,RevPAR,Country,...,market_share,group_share,s_0,ln_group_share,quality,Rating,ReviewCount_Reviewed,Rating_ReviewCount_Reviewed,market_year_month,ln_ADR
17703,17703,10127842,2016-11-01,648.0,120.0,9363.02,18.5185,78.025167,14.449105,United States,...,0.000099,0.001339,0.234020,-6.615842,-3.197221,3.000000,4.0,12.0,"2016-11-01Chicago, IL",4.357031
17704,17704,10127842,2016-12-01,744.0,165.0,12779.72,22.1774,77.452848,17.177043,United States,...,0.000136,0.002437,0.435090,-6.017044,-3.818019,3.000000,4.0,12.0,"2016-12-01Chicago, IL",4.349669
17705,17705,10127842,2017-01-01,744.0,123.0,10595.84,16.5322,86.145041,14.241720,United States,...,0.000102,0.002040,0.520337,-6.194986,-4.071846,2.600000,5.0,13.0,"2017-01-01Chicago, IL",4.456032
17706,17706,10127842,2017-02-01,672.0,158.0,11988.27,23.5119,75.875127,17.839688,United States,...,0.000131,0.002531,0.501713,-5.979238,-4.046429,2.600000,5.0,13.0,"2017-02-01Chicago, IL",4.329089
17707,17707,10127842,2017-03-01,744.0,354.0,26119.20,47.5806,73.783051,35.106452,United States,...,0.000293,0.004131,0.294833,-5.489276,-2.992845,2.600000,5.0,13.0,"2017-03-01Chicago, IL",4.301129
17708,17708,10127842,2017-04-01,720.0,386.0,29694.33,53.6111,76.928316,41.242125,United States,...,0.000319,0.004374,0.258485,-5.432114,-2.758623,2.833333,6.0,17.0,"2017-04-01Chicago, IL",4.342874
17709,17709,10127842,2017-05-01,773.0,520.0,38620.44,67.2703,74.270077,49.961759,United States,...,0.000430,0.005257,0.186761,-5.248288,-2.269719,2.833333,6.0,17.0,"2017-05-01Chicago, IL",4.307708
17710,17710,10127842,2017-06-01,750.0,646.0,50120.06,86.1333,77.585232,66.826747,United States,...,0.000534,0.006082,0.127189,-5.102421,-1.696048,3.000000,7.0,21.0,"2017-06-01Chicago, IL",4.351377
17711,17711,10127842,2017-07-01,775.0,594.0,46284.81,76.6451,77.920556,59.722335,United States,...,0.000491,0.005803,0.158939,-5.149362,-1.973574,3.250000,8.0,26.0,"2017-07-01Chicago, IL",4.355690
17712,17712,10127842,2017-08-01,775.0,548.0,44053.29,70.7096,80.389215,56.842955,United States,...,0.000453,0.005410,0.174146,-5.219596,-2.073171,3.250000,8.0,26.0,"2017-08-01Chicago, IL",4.386880
17713,17713,10127842,2017-09-01,750.0,558.0,43968.37,74.4000,78.796362,58.624493,United States,...,0.000461,0.005620,0.184206,-5.181492,-2.154204,3.250000,8.0,26.0,"2017-09-01Chicago, IL",4.366867
17714,17714,10127842,2017-10-01,775.0,540.0,43452.34,69.6774,80.467296,56.067535,United States,...,0.000446,0.005384,0.165570,-5.224322,-2.033785,3.000000,9.0,27.0,"2017-10-01Chicago, IL",4.387851
17715,17715,10127842,2017-11-01,750.0,417.0,33821.11,55.6000,81.105779,45.094813,United States,...,0.000345,0.004665,0.244924,-5.367767,-2.600082,0.000000,0.0,0.0,"2017-11-01Chicago, IL",4.395754
17716,17716,10127842,2017-12-01,775.0,295.0,22957.65,38.0645,77.822542,29.622774,United States,...,0.000244,0.004061,0.418976,-5.506433,-3.458876,0.000000,0.0,0.0,"2017-12-01Chicago, IL",4.354431

In [29]:
hotels = df.groupby("shareid")

l=[]
for name, g in hotels:
    g = g.sort_values(by = ["year_month"])
    g['begin_rating'] = g["accum_rating"].iloc[0]
    g['last_rating'] = g["accum_rating"].iloc[-1]
    l.append(g[["shareid","begin_rating","last_rating"]].drop_duplicates())

In [30]:
res = pd.concat(l,axis=0)
res

        shareid  begin_rating  last_rating
65289     75909      4.842105     4.782772
17717     80022      0.000000     0.000000
17921     80596      0.000000     0.000000
65306     80713      4.388889     4.390476
65330     81037      4.100000     3.957055
...         ...           ...          ...
17300   9988311      0.000000     4.751789
17516   9990853      0.000000     4.593636
73452  10075594      0.000000     0.000000
17703  10127842      3.000000     0.000000
65073  10167128      0.000000     4.157895

[521 rows x 3 columns]